In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Daywise variance and slope
#cluser day wise
#cluster of COuntries
# day wise data structure D0 to Dn
# attributes of a timeseriess
# how we are placed compared to other countries
#lockdown impact on graphs
#day wise story time  graphs of countries
#predictions of countries
# predictions of the countries compared to actual

In [3]:
import pandas as pd
import numpy as np
from sklearn import preprocessing,cross_decomposition,model_selection,metrics
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
%matplotlib inline
import dateutil
from tqdm import tqdm
from sklearn import linear_model
import datetime
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets
import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels import tsa
import numpy as np
import pandas as pd

import plotly.graph_objects as go
from ipywidgets import widgets

In [4]:
confirmed_global=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv',encoding='utf-8',na_values=None)
# deathGLobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
# recoverGlobal=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
# confirmedGlobal['NewContryCode']=confirmedGlobal['Country/Region']+confirmedGlobal['Province/State'].fillna('')
# deathGLobal['NewContryCode']=deathGLobal['Country/Region']+deathGLobal['Province/State'].fillna('')
# recoverGlobal['NewContryCode']=recoverGlobal['Country/Region']+recoverGlobal['Province/State'].fillna('')

In [5]:
confirmed_global.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,11/9/22,11/10/22,11/11/22,11/12/22,11/13/22,11/14/22,11/15/22,11/16/22,11/17/22,11/18/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,204094,204287,204392,204417,204510,204610,204724,204820,204982,205009
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,333088,333103,333125,333138,333156,333161,333197,333215,333233,333233
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,270906,270917,270924,270929,270939,270952,270969,270981,270996,270996
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,46664,46664,46664,46664,46664,46664,46664,46824,46824,46824
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,103131,103131,103131,103131,103131,103131,103131,103131,103131,103131

In [6]:
total_infected = confirmed_global[confirmed_global.columns[-1]].sum()

In [7]:
hr_bar_data = confirmed_global[
    ['Country/Region', confirmed_global.columns[-1]]
].groupby(by='Country/Region').sum().sort_values('11/17/22', ascending=False)

KeyError: '11/17/22'

In [8]:
hr_bar_data = confirmed_global[
    ['Country/Region', confirmed_global.columns[-1]]
].groupby(by='Country/Region').sum()
hr_bar_data = hr_bar_data.reset_index()
hr_bar_data.columns = ['Country/Region', 'Values']
hr_bar_data = hr_bar_data.sort_values(by='Values', ascending=False)
country_names = hr_bar_data['Country/Region'].values.tolist()
country_values = hr_bar_data['Values'].values.tolist()

In [17]:
df3 = pd.read_json('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json')

In [18]:
df3.head(2)

  code3         name   value code
0   ABW        Aruba  582.34   AW
1   AFG  Afghanistan   53.08   AF

In [26]:
df3['name'].unique()

array(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       'Antigua and Barbuda', 'Australia', 'Austria', 'Azerbaijan',
       'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas, The', 'Bosnia and Herzegovina',
       'Belarus', 'Belize', 'Bermuda', 'Bolivia', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Cuba', 'Curacao', 'Cayman Islands', 'Cyprus', 'Czech Republic',
       'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic',
       'Algeria', 'Ecuador', 'Egypt, Arab Rep.', 'Spain', 'Estonia',
       'Ethiopia', 'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'Hong Kong SAR, China', 'Honduras', 'Croatia',
       'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India', 'Ireland',
       'Iran, Islamic Rep.', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyz Republic', 'Cambodia', 'Kiribati', 'St. Kitts and Nevis',
       'Korea, Rep.', 'Kuwait', 'Lao PDR', 'Lebanon', 'Liberia', 'Libya',
       'St. Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho', 'Lithuania',
       'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands',
       'Macedonia, FYR', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'New Caledonia',
       'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal',
       'Nauru', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru',
       'Philippines', 'Palau', 'Papua New Guinea', 'Poland',
       'Puerto Rico', 'Korea, Dem. Peopleâ€™s Rep.', 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'French Polynesia', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal',
       'Singapore', 'Solomon Islands', 'Sierra Leone', 'El Salvador',
       'San Marino', 'Somalia', 'Serbia', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu', 'Tanzania',
       'Uganda', 'Ukraine', 'Uruguay', 'United States', 'Uzbekistan',
       'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'Samoa', 'Yemen, Rep.', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

In [20]:
data_for_heat_map=[]
for country in country_names:
    try:
        tempdf=df3[df3['name']==country]
        temp={}
        temp["code3"] = list(tempdf["code3"].values)[0]
        temp["name"] = country
        temp["value"] = hr_bar_data[
            hr_bar_data['Country/Region']==country
        ]['Values'].sum()
        temp["code"] = list(tempdf["code"].values)[0]
        data_for_heat_map.append(temp)
    except:
        pass

df3.info()

In [34]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   code3   213 non-null    object
 1   name    213 non-null    object
 2   value   213 non-null    float64
 3   code    213 non-null    object
dtypes: float64(1), object(3)
memory usage: 6.8+ KB

In [38]:
# 'United States'
data_for_heat_map.append(
    {
        "code3" : "USA",
        "name": "US",
        "value": hr_bar_data[
            hr_bar_data['Country/Region']=="US"
        ]['Values'].sum(),
        "code": "US"
    }
)

In [40]:
df3[df3['name']=='Iran, Islamic Rep.']

   code3                name  value code
89   IRN  Iran, Islamic Rep.  49.29   IR

In [ ]:
data_for_heat_map.append(
    {
        "code3" : "IRN",
        "name": "Iran",
        "value": hr_bar_data[
            hr_bar_data['Country/Region']=="Iran"
        ]['Values'].sum(),
        "code": "IR"
    }
)

In [39]:
data_for_heat_map

[{'code3': 'IND', 'name': 'India', 'value': 44669748, 'code': 'IN'},
 {'code3': 'FRA', 'name': 'France', 'value': 37508185, 'code': 'FR'},
 {'code3': 'DEU', 'name': 'Germany', 'value': 36205405, 'code': 'DE'},
 {'code3': 'BRA', 'name': 'Brazil', 'value': 34999495, 'code': 'BR'},
 {'code3': 'GBR', 'name': 'United Kingdom', 'value': 24203873, 'code': 'GB'},
 {'code3': 'ITA', 'name': 'Italy', 'value': 24031538, 'code': 'IT'},
 {'code3': 'JPN', 'name': 'Japan', 'value': 23626318, 'code': 'JP'},
 {'code3': 'TUR', 'name': 'Turkey', 'value': 16919638, 'code': 'TR'},
 {'code3': 'ESP', 'name': 'Spain', 'value': 13573721, 'code': 'ES'},
 {'code3': 'VNM', 'name': 'Vietnam', 'value': 11510919, 'code': 'VN'},
 {'code3': 'AUS', 'name': 'Australia', 'value': 10555312, 'code': 'AU'},
 {'code3': 'ARG', 'name': 'Argentina', 'value': 9721718, 'code': 'AR'},
 {'code3': 'NLD', 'name': 'Netherlands', 'value': 8645502, 'code': 'NL'},
 {'code3': 'MEX', 'name': 'Mexico', 'value': 7118933, 'code': 'MX'},
 {'code3': 'IDN', 'name': 'Indonesia', 'value': 6596812, 'code': 'ID'},
 {'code3': 'POL', 'name': 'Poland', 'value': 6348380, 'code': 'PL'},
 {'code3': 'COL', 'name': 'Colombia', 'value': 6312657, 'code': 'CO'},
 {'code3': 'UKR', 'name': 'Ukraine', 'value': 5635276, 'code': 'UA'},
 {'code3': 'PRT', 'name': 'Portugal', 'value': 5537108, 'code': 'PT'},
 {'code3': 'AUT', 'name': 'Austria', 'value': 5510919, 'code': 'AT'},
 {'code3': 'GRC', 'name': 'Greece', 'value': 5306482, 'code': 'GR'},
 {'code3': 'MYS', 'name': 'Malaysia', 'value': 4963216, 'code': 'MY'},
 {'code3': 'CHL', 'name': 'Chile', 'value': 4865698, 'code': 'CL'},
 {'code3': 'ISR', 'name': 'Israel', 'value': 4704009, 'code': 'IL'},
 {'code3': 'THA', 'name': 'Thailand', 'value': 4698373, 'code': 'TH'},
 {'code3': 'BEL', 'name': 'Belgium', 'value': 4627186, 'code': 'BE'},
 {'code3': 'CAN', 'name': 'Canada', 'value': 4418363, 'code': 'CA'},
 {'code3': 'CHE', 'name': 'Switzerland', 'value': 4297635, 'code': 'CH'},
 {'code3': 'PER', 'name': 'Peru', 'value': 4184191, 'code': 'PE'},
 {'code3': 'ZAF', 'name': 'South Africa', 'value': 4037221, 'code': 'ZA'},
 {'code3': 'PHL', 'name': 'Philippines', 'value': 4023798, 'code': 'PH'},
 {'code3': 'DNK', 'name': 'Denmark', 'value': 3392212, 'code': 'DK'},
 {'code3': 'ROU', 'name': 'Romania', 'value': 3293742, 'code': 'RO'},
 {'code3': 'CHN', 'name': 'China', 'value': 3242270, 'code': 'CN'},
 {'code3': 'SWE', 'name': 'Sweden', 'value': 2622790, 'code': 'SE'},
 {'code3': 'IRQ', 'name': 'Iraq', 'value': 2462317, 'code': 'IQ'},
 {'code3': 'SRB', 'name': 'Serbia', 'value': 2416771, 'code': 'RS'},
 {'code3': 'HUN', 'name': 'Hungary', 'value': 2157995, 'code': 'HU'},
 {'code3': 'SGP', 'name': 'Singapore', 'value': 2150702, 'code': 'SG'},
 {'code3': 'BGD', 'name': 'Bangladesh', 'value': 2036325, 'code': 'BD'},
 {'code3': 'NZL', 'name': 'New Zealand', 'value': 1900515, 'code': 'NZ'},
 {'code3': 'GEO', 'name': 'Georgia', 'value': 1785138, 'code': 'GE'},
 {'code3': 'JOR', 'name': 'Jordan', 'value': 1746997, 'code': 'JO'},
 {'code3': 'IRL', 'name': 'Ireland', 'value': 1677386, 'code': 'IE'},
 {'code3': 'PAK', 'name': 'Pakistan', 'value': 1574825, 'code': 'PK'},
 {'code3': 'KAZ', 'name': 'Kazakhstan', 'value': 1485635, 'code': 'KZ'},
 {'code3': 'NOR', 'name': 'Norway', 'value': 1467328, 'code': 'NO'},
 {'code3': 'FIN', 'name': 'Finland', 'value': 1384654, 'code': 'FI'},
 {'code3': 'BGR', 'name': 'Bulgaria', 'value': 1285113, 'code': 'BG'},
 {'code3': 'LTU', 'name': 'Lithuania', 'value': 1272774, 'code': 'LT'},
 {'code3': 'MAR', 'name': 'Morocco', 'value': 1267177, 'code': 'MA'},
 {'code3': 'HRV', 'name': 'Croatia', 'value': 1251199, 'code': 'HR'},
 {'code3': 'SVN', 'name': 'Slovenia', 'value': 1246440, 'code': 'SI'},
 {'code3': 'LBN', 'name': 'Lebanon', 'value': 1219928, 'code': 'LB'},
 {'code3': 'GTM', 'name': 'Guatemala', 'value': 1147699, 'code': 'GT'},
 {'code3': 'TUN', 'name': 'Tunisia', 'value': 1146799, 'code': 'TN'},
 {'code3': 'CRI', 'name': 'Costa Rica', 'value': 1143597, 'code': 'CR'},
 {'code3': 'CUB', 'name': 'Cuba', 'value': 1111335, 'code': 'CU'},
 {'code3': 'BOL', 'name': 'Bolivia', 'value': 1110064, 'code': 'BO'},
 {'code3': 'ARE',
  'name': 'United Arab Emirates',
  'value': 1042099,
  'code': 'AE'},
 {'code3': 'ECU', 'name': 'Ecuador', 'value': 1009388, 'code': 'EC'},
 {'code3': 'NPL', 'name': 'Nepal', 'value': 1000846, 'code': 'NP'},
 {'code3': 'BLR', 'name': 'Belarus', 'value': 994037, 'code': 'BY'},
 {'code3': 'PAN', 'name': 'Panama', 'value': 992623, 'code': 'PA'},
 {'code3': 'URY', 'name': 'Uruguay', 'value': 992035, 'code': 'UY'},
 {'code3': 'MNG', 'name': 'Mongolia', 'value': 989320, 'code': 'MN'},
 {'code3': 'LVA', 'name': 'Latvia', 'value': 959019, 'code': 'LV'},
 {'code3': 'SAU', 'name': 'Saudi Arabia', 'value': 824984, 'code': 'SA'},
 {'code3': 'AZE', 'name': 'Azerbaijan', 'value': 823889, 'code': 'AZ'},
 {'code3': 'PRY', 'name': 'Paraguay', 'value': 718071, 'code': 'PY'},
 {'code3': 'PSE', 'name': 'West Bank and Gaza', 'value': 703036, 'code': 'PS'},
 {'code3': 'BHR', 'name': 'Bahrain', 'value': 694602, 'code': 'BH'},
 {'code3': 'LKA', 'name': 'Sri Lanka', 'value': 671497, 'code': 'LK'},
 {'code3': 'KWT', 'name': 'Kuwait', 'value': 662510, 'code': 'KW'},
 {'code3': 'DOM', 'name': 'Dominican Republic', 'value': 647868, 'code': 'DO'},
 {'code3': 'CYP', 'name': 'Cyprus', 'value': 610023, 'code': 'CY'},
 {'code3': 'EST', 'name': 'Estonia', 'value': 608332, 'code': 'EE'},
 {'code3': 'MDA', 'name': 'Moldova', 'value': 594441, 'code': 'MD'},
 {'code3': 'LBY', 'name': 'Libya', 'value': 507070, 'code': 'LY'},
 {'code3': 'ETH', 'name': 'Ethiopia', 'value': 494285, 'code': 'ET'},
 {'code3': 'QAT', 'name': 'Qatar', 'value': 475479, 'code': 'QA'},
 {'code3': 'HND', 'name': 'Honduras', 'value': 457508, 'code': 'HN'},
 {'code3': 'ARM', 'name': 'Armenia', 'value': 445513, 'code': 'AM'},
 {'code3': 'BIH',
  'name': 'Bosnia and Herzegovina',
  'value': 400336,
  'code': 'BA'},
 {'code3': 'OMN', 'name': 'Oman', 'value': 399027, 'code': 'OM'},
 {'code3': 'KEN', 'name': 'Kenya', 'value': 340888, 'code': 'KE'},
 {'code3': 'ZMB', 'name': 'Zambia', 'value': 333685, 'code': 'ZM'},
 {'code3': 'ALB', 'name': 'Albania', 'value': 333233, 'code': 'AL'},
 {'code3': 'BWA', 'name': 'Botswana', 'value': 326344, 'code': 'BW'},
 {'code3': 'LUX', 'name': 'Luxembourg', 'value': 304962, 'code': 'LU'},
 {'code3': 'MNE', 'name': 'Montenegro', 'value': 283468, 'code': 'ME'},
 {'code3': 'DZA', 'name': 'Algeria', 'value': 270996, 'code': 'DZ'},
 {'code3': 'MUS', 'name': 'Mauritius', 'value': 268397, 'code': 'MU'},
 {'code3': 'NGA', 'name': 'Nigeria', 'value': 266242, 'code': 'NG'},
 {'code3': 'ZWE', 'name': 'Zimbabwe', 'value': 257893, 'code': 'ZW'},
 {'code3': 'UZB', 'name': 'Uzbekistan', 'value': 245246, 'code': 'UZ'},
 {'code3': 'MOZ', 'name': 'Mozambique', 'value': 230543, 'code': 'MZ'},
 {'code3': 'ISL', 'name': 'Iceland', 'value': 206803, 'code': 'IS'},
 {'code3': 'AFG', 'name': 'Afghanistan', 'value': 205009, 'code': 'AF'},
 {'code3': 'SLV', 'name': 'El Salvador', 'value': 201785, 'code': 'SV'},
 {'code3': 'MDV', 'name': 'Maldives', 'value': 185549, 'code': 'MV'},
 {'code3': 'TTO',
  'name': 'Trinidad and Tobago',
  'value': 185094,
  'code': 'TT'},
 {'code3': 'GHA', 'name': 'Ghana', 'value': 170972, 'code': 'GH'},
 {'code3': 'NAM', 'name': 'Namibia', 'value': 169946, 'code': 'NA'},
 {'code3': 'UGA', 'name': 'Uganda', 'value': 169663, 'code': 'UG'},
 {'code3': 'JAM', 'name': 'Jamaica', 'value': 152381, 'code': 'JM'},
 {'code3': 'KHM', 'name': 'Cambodia', 'value': 138019, 'code': 'KH'},
 {'code3': 'RWA', 'name': 'Rwanda', 'value': 132643, 'code': 'RW'},
 {'code3': 'CMR', 'name': 'Cameroon', 'value': 123993, 'code': 'CM'},
 {'code3': 'MLT', 'name': 'Malta', 'value': 115673, 'code': 'MT'},
 {'code3': 'BRB', 'name': 'Barbados', 'value': 103545, 'code': 'BB'},
 {'code3': 'AGO', 'name': 'Angola', 'value': 103131, 'code': 'AO'},
 {'code3': 'SEN', 'name': 'Senegal', 'value': 88842, 'code': 'SN'},
 {'code3': 'MWI', 'name': 'Malawi', 'value': 88073, 'code': 'MW'},
 {'code3': 'CIV', 'name': "Cote d'Ivoire", 'value': 87864, 'code': 'CI'},
 {'code3': 'SUR', 'name': 'Suriname', 'value': 81228, 'code': 'SR'},
 {'code3': 'GUY', 'name': 'Guyana', 'value': 71522, 'code': 'GY'},
 {'code3': 'BLZ', 'name': 'Belize', 'value': 68988, 'code': 'BZ'},
 {'code3': 'FJI', 'name': 'Fiji', 'value': 68307, 'code': 'FJ'},
 {'code3': 'MDG', 'name': 'Madagascar', 'value': 66859, 'code': 'MG'},
 {'code3': 'SDN', 'name': 'Sudan', 'value': 63595, 'code': 'SD'},
 {'code3': 'MRT', 'name': 'Mauritania', 'value': 63417, 'code': 'MR'},
 {'code3': 'CPV', 'name': 'Cabo Verde', 'value': 62783, 'code': 'CV'},
 {'code3': 'BTN', 'name': 'Bhutan', 'value': 62460, 'code': 'BT'},
 {'code3': 'BDI', 'name': 'Burundi', 'value': 50639, 'code': 'BI'},
 {'code3': 'SYC', 'name': 'Seychelles', 'value': 49380, 'code': 'SC'},
 {'code3': 'GAB', 'name': 'Gabon', 'value': 48972, 'code': 'GA'},
 {'code3': 'AND', 'name': 'Andorra', 'value': 46824, 'code': 'AD'},
 {'code3': 'PNG', 'name': 'Papua New Guinea', 'value': 45819, 'code': 'PG'},
 {'code3': 'TZA', 'name': 'Tanzania', 'value': 40311, 'code': 'TZ'},
 {'code3': 'TGO', 'name': 'Togo', 'value': 39321, 'code': 'TG'},
 {'code3': 'GIN', 'name': 'Guinea', 'value': 38153, 'code': 'GN'},
 {'code3': 'LSO', 'name': 'Lesotho', 'value': 34490, 'code': 'LS'},
 {'code3': 'HTI', 'name': 'Haiti', 'value': 33837, 'code': 'HT'},
 {'code3': 'MLI', 'name': 'Mali', 'value': 32755, 'code': 'ML'},
 {'code3': 'BEN', 'name': 'Benin', 'value': 27922, 'code': 'BJ'},
 {'code3': 'SOM', 'name': 'Somalia', 'value': 27254, 'code': 'SO'},
 {'code3': 'SLB', 'name': 'Solomon Islands', 'value': 24575, 'code': 'SB'},
 {'code3': 'TLS', 'name': 'Timor-Leste', 'value': 23323, 'code': 'TL'},
 {'code3': 'SMR', 'name': 'San Marino', 'value': 21798, 'code': 'SM'},
 {'code3': 'BFA', 'name': 'Burkina Faso', 'value': 21631, 'code': 'BF'},
 {'code3': 'LIE', 'name': 'Liechtenstein', 'value': 20815, 'code': 'LI'},
 {'code3': 'GRD', 'name': 'Grenada', 'value': 19616, 'code': 'GD'},
 {'code3': 'TJK', 'name': 'Tajikistan', 'value': 17786, 'code': 'TJ'},
 {'code3': 'GNQ', 'name': 'Equatorial Guinea', 'value': 17182, 'code': 'GQ'},
 {'code3': 'TON', 'name': 'Tonga', 'value': 16182, 'code': 'TO'},
 {'code3': 'WSM', 'name': 'Samoa', 'value': 15949, 'code': 'WS'},
 {'code3': 'DMA', 'name': 'Dominica', 'value': 15760, 'code': 'DM'},
 {'code3': 'DJI', 'name': 'Djibouti', 'value': 15690, 'code': 'DJ'},
 {'code3': 'MHL', 'name': 'Marshall Islands', 'value': 15389, 'code': 'MH'},
 {'code3': 'CAF',
  'name': 'Central African Republic',
  'value': 15289,
  'code': 'CF'},
 {'code3': 'NIC', 'name': 'Nicaragua', 'value': 15219, 'code': 'NI'},
 {'code3': 'MCO', 'name': 'Monaco', 'value': 15195, 'code': 'MC'},
 {'code3': 'VUT', 'name': 'Vanuatu', 'value': 11981, 'code': 'VU'},
 {'code3': 'NER', 'name': 'Niger', 'value': 9430, 'code': 'NE'},
 {'code3': 'ATG', 'name': 'Antigua and Barbuda', 'value': 9106, 'code': 'AG'},
 {'code3': 'COM', 'name': 'Comoros', 'value': 8941, 'code': 'KM'},
 {'code3': 'GNB', 'name': 'Guinea-Bissau', 'value': 8848, 'code': 'GW'},
 {'code3': 'LBR', 'name': 'Liberia', 'value': 8014, 'code': 'LR'},
 {'code3': 'SLE', 'name': 'Sierra Leone', 'value': 7758, 'code': 'SL'},
 {'code3': 'TCD', 'name': 'Chad', 'value': 7637, 'code': 'TD'},
 {'code3': 'STP',
  'name': 'Sao Tome and Principe',
  'value': 6275,
  'code': 'ST'},
 {'code3': 'PLW', 'name': 'Palau', 'value': 5684, 'code': 'PW'},
 {'code3': 'NRU', 'name': 'Nauru', 'value': 4618, 'code': 'NR'},
 {'code3': 'KIR', 'name': 'Kiribati', 'value': 3430, 'code': 'KI'},
 {'code3': 'TUV', 'name': 'Tuvalu', 'value': 2019, 'code': 'TV'},
 {'code3': 'USA', 'name': 'US', 'value': 35.32, 'code': 'US'},
 {'code3': 'USA', 'name': 'US', 'value': 98301472, 'code': 'US'}]

In [5]:
uniqueCOuntryName=pd.unique(confirmedGlobal['Country/Region'])
df2=confirmedGlobal[list(confirmedGlobal.columns[1:2])+list([confirmedGlobal.columns[-2]])]
df2.columns=['Country','values']
dictVal=[]
for i in range(df2.shape[0]):
    dictVal.append(dict(df2.ix[i]))

AttributeError: 'DataFrame' object has no attribute 'ix'

In [7]:
df2=df2.sort_values(by='values',ascending=False)
contryNames=list(df2['Country'].values)

In [6]:
import dateutil

In [ ]:
timestamps=[dateutil.parser.parse(i) for i in confirmedGlobal.columns[4:-1]]

In [ ]:
datasetsForLine=[]
for i in uniqueCOuntryName:
    temp={}
    temp['label']=i
    temp['data']=confirmedGlobal[confirmedGlobal['Country/Region']==i][confirmedGlobal.columns[4:-1]].sum().values.tolist()
    datasetsForLine.append(temp)

In [ ]:
df3=pd.read_json('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json')

In [ ]:
df3[df3['name']=='China']

In [ ]:
dict(df2.ix[0])

In [ ]:
dataForMap=[]
for i in uniqueCOuntryName:
    try:
        tempdf=df3[df3['name']==i]
        temp={}
        temp["code3"]=list(tempdf['code3'].values)[0]
        temp["name"]=i
        temp["value"]=df2[df2['Country']==i]['values'].sum()
        temp["code"]=list(tempdf['code'].values)[0]
        dataForMap.append(temp)
    except:
        pass

In [9]:
df3=confirmedGlobal[list(confirmedGlobal.columns[1:2])+list(list(confirmedGlobal.columns.values)[-6:-1])]
df3.head()

  Country/Region  4/5/20  4/6/20  4/7/20  4/8/20  4/9/20
0    Afghanistan     349     367     423     444     484
1        Albania     361     377     383     400     409
2        Algeria    1320    1423    1468    1572    1666
3        Andorra     501     525     545     564     583
4         Angola      14      16      17      19      19

In [10]:
tempdf=df3[df3['Country/Region']=='China']

In [26]:
list(list(confirmedGlobal.columns.values)[-6:-1])

['4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20']

In [27]:
dataForheatMap=[]
for i in contryNames:
    try:
        tempdf=df3[df3['Country/Region']==i]
        temp={}
        temp["name"]=i
        temp["data"]=[{'x':j,'y':k} for j,k in zip(tempdf[tempdf.columns[1:]].sum().index,tempdf[tempdf.columns[1:]].sum().values)]
        dataForheatMap.append(temp)
    except:
        pass

In [28]:
dataForheatMap

[{'name': 'US',
  'data': [{'x': '4/5/20', 'y': 337072},
   {'x': '4/6/20', 'y': 366667},
   {'x': '4/7/20', 'y': 396223},
   {'x': '4/8/20', 'y': 429052},
   {'x': '4/9/20', 'y': 461437}]},
 {'name': 'Spain',
  'data': [{'x': '4/5/20', 'y': 131646},
   {'x': '4/6/20', 'y': 136675},
   {'x': '4/7/20', 'y': 141942},
   {'x': '4/8/20', 'y': 148220},
   {'x': '4/9/20', 'y': 153222}]},
 {'name': 'Italy',
  'data': [{'x': '4/5/20', 'y': 128948},
   {'x': '4/6/20', 'y': 132547},
   {'x': '4/7/20', 'y': 135586},
   {'x': '4/8/20', 'y': 139422},
   {'x': '4/9/20', 'y': 143626}]},
 {'name': 'Germany',
  'data': [{'x': '4/5/20', 'y': 100123},
   {'x': '4/6/20', 'y': 103374},
   {'x': '4/7/20', 'y': 107663},
   {'x': '4/8/20', 'y': 113296},
   {'x': '4/9/20', 'y': 118181}]},
 {'name': 'France',
  'data': [{'x': '4/5/20', 'y': 93773},
   {'x': '4/6/20', 'y': 98963},
   {'x': '4/7/20', 'y': 110065},
   {'x': '4/8/20', 'y': 113959},
   {'x': '4/9/20', 'y': 118781}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Iran',
  'data': [{'x': '4/5/20', 'y': 58226},
   {'x': '4/6/20', 'y': 60500},
   {'x': '4/7/20', 'y': 62589},
   {'x': '4/8/20', 'y': 64586},
   {'x': '4/9/20', 'y': 66220}]},
 {'name': 'United Kingdom',
  'data': [{'x': '4/5/20', 'y': 48436},
   {'x': '4/6/20', 'y': 52279},
   {'x': '4/7/20', 'y': 55949},
   {'x': '4/8/20', 'y': 61474},
   {'x': '4/9/20', 'y': 65872}]},
 {'name': 'Turkey',
  'data': [{'x': '4/5/20', 'y': 27069},
   {'x': '4/6/20', 'y': 30217},
   {'x': '4/7/20', 'y': 34109},
   {'x': '4/8/20', 'y': 38226},
   {'x': '4/9/20', 'y': 42282}]},
 {'name': 'Belgium',
  'data': [{'x': '4/5/20', 'y': 19691},
   {'x': '4/6/20', 'y': 20814},
   {'x': '4/7/20', 'y': 22194},
   {'x': '4/8/20', 'y': 23403},
   {'x': '4/9/20', 'y': 24983}]},
 {'name': 'Switzerland',
  'data': [{'x': '4/5/20', 'y': 21100},
   {'x': '4/6/20', 'y': 21657},
   {'x': '4/7/20', 'y': 22253},
   {'x': '4/8/20', 'y': 23280},
   {'x': '4/9/20', 'y': 24051}]},
 {'name': 'Netherlands',
  'data': [{'x': '4/5/20', 'y': 17953},
   {'x': '4/6/20', 'y': 18926},
   {'x': '4/7/20', 'y': 19709},
   {'x': '4/8/20', 'y': 20682},
   {'x': '4/9/20', 'y': 21903}]},
 {'name': 'Brazil',
  'data': [{'x': '4/5/20', 'y': 11130},
   {'x': '4/6/20', 'y': 12161},
   {'x': '4/7/20', 'y': 14034},
   {'x': '4/8/20', 'y': 16170},
   {'x': '4/9/20', 'y': 18092}]},
 {'name': 'Portugal',
  'data': [{'x': '4/5/20', 'y': 11278},
   {'x': '4/6/20', 'y': 11730},
   {'x': '4/7/20', 'y': 12442},
   {'x': '4/8/20', 'y': 13141},
   {'x': '4/9/20', 'y': 13956}]},
 {'name': 'Austria',
  'data': [{'x': '4/5/20', 'y': 12051},
   {'x': '4/6/20', 'y': 12297},
   {'x': '4/7/20', 'y': 12639},
   {'x': '4/8/20', 'y': 12942},
   {'x': '4/9/20', 'y': 13244}]},
 {'name': 'Canada',
  'data': [{'x': '4/5/20', 'y': 15756},
   {'x': '4/6/20', 'y': 16563},
   {'x': '4/7/20', 'y': 17872},
   {'x': '4/8/20', 'y': 19141},
   {'x': '4/9/20', 'y': 20654}]},
 {'name': 'Korea, South',
  'data': [{'x': '4/5/20', 'y': 10237},
   {'x': '4/6/20', 'y': 10284},
   {'x': '4/7/20', 'y': 10331},
   {'x': '4/8/20', 'y': 10384},
   {'x': '4/9/20', 'y': 10423}]},
 {'name': 'Russia',
  'data': [{'x': '4/5/20', 'y': 5389},
   {'x': '4/6/20', 'y': 6343},
   {'x': '4/7/20', 'y': 7497},
   {'x': '4/8/20', 'y': 8672},
   {'x': '4/9/20', 'y': 10131}]},
 {'name': 'Israel',
  'data': [{'x': '4/5/20', 'y': 8430},
   {'x': '4/6/20', 'y': 8904},
   {'x': '4/7/20', 'y': 9248},
   {'x': '4/8/20', 'y': 9404},
   {'x': '4/9/20', 'y': 9968}]},
 {'name': 'Sweden',
  'data': [{'x': '4/5/20', 'y': 6830},
   {'x': '4/6/20', 'y': 7206},
   {'x': '4/7/20', 'y': 7693},
   {'x': '4/8/20', 'y': 8419},
   {'x': '4/9/20', 'y': 9141}]},
 {'name': 'India',
  'data': [{'x': '4/5/20', 'y': 3588},
   {'x': '4/6/20', 'y': 4778},
   {'x': '4/7/20', 'y': 5311},
   {'x': '4/8/20', 'y': 5916},
   {'x': '4/9/20', 'y': 6725}]},
 {'name': 'Ireland',
  'data': [{'x': '4/5/20', 'y': 4994},
   {'x': '4/6/20', 'y': 5364},
   {'x': '4/7/20', 'y': 5709},
   {'x': '4/8/20', 'y': 6074},
   {'x': '4/9/20', 'y': 6574}]},
 {'name': 'Norway',
  'data': [{'x': '4/5/20', 'y': 5687},
   {'x': '4/6/20', 'y': 5865},
   {'x': '4/7/20', 'y': 6086},
   {'x': '4/8/20', 'y': 6086},
   {'x': '4/9/20', 'y': 6211}]},
 {'name': 'Chile',
  'data': [{'x': '4/5/20', 'y': 4471},
   {'x': '4/6/20', 'y': 4815},
   {'x': '4/7/20', 'y': 5116},
   {'x': '4/8/20', 'y': 5546},
   {'x': '4/9/20', 'y': 5972}]},
 {'name': 'Canada',
  'data': [{'x': '4/5/20', 'y': 15756},
   {'x': '4/6/20', 'y': 16563},
   {'x': '4/7/20', 'y': 17872},
   {'x': '4/8/20', 'y': 19141},
   {'x': '4/9/20', 'y': 20654}]},
 {'name': 'Denmark',
  'data': [{'x': '4/5/20', 'y': 4561},
   {'x': '4/6/20', 'y': 4875},
   {'x': '4/7/20', 'y': 5266},
   {'x': '4/8/20', 'y': 5597},
   {'x': '4/9/20', 'y': 5830}]},
 {'name': 'Poland',
  'data': [{'x': '4/5/20', 'y': 4102},
   {'x': '4/6/20', 'y': 4413},
   {'x': '4/7/20', 'y': 4848},
   {'x': '4/8/20', 'y': 5205},
   {'x': '4/9/20', 'y': 5575}]},
 {'name': 'Czechia',
  'data': [{'x': '4/5/20', 'y': 4587},
   {'x': '4/6/20', 'y': 4822},
   {'x': '4/7/20', 'y': 5017},
   {'x': '4/8/20', 'y': 5312},
   {'x': '4/9/20', 'y': 5569}]},
 {'name': 'Peru',
  'data': [{'x': '4/5/20', 'y': 2281},
   {'x': '4/6/20', 'y': 2561},
   {'x': '4/7/20', 'y': 2954},
   {'x': '4/8/20', 'y': 4342},
   {'x': '4/9/20', 'y': 5256}]},
 {'name': 'Romania',
  'data': [{'x': '4/5/20', 'y': 3864},
   {'x': '4/6/20', 'y': 4057},
   {'x': '4/7/20', 'y': 4417},
   {'x': '4/8/20', 'y': 4761},
   {'x': '4/9/20', 'y': 5202}]},
 {'name': 'Ecuador',
  'data': [{'x': '4/5/20', 'y': 3646},
   {'x': '4/6/20', 'y': 3747},
   {'x': '4/7/20', 'y': 3747},
   {'x': '4/8/20', 'y': 4450},
   {'x': '4/9/20', 'y': 4965}]},
 {'name': 'Japan',
  'data': [{'x': '4/5/20', 'y': 3139},
   {'x': '4/6/20', 'y': 3654},
   {'x': '4/7/20', 'y': 3906},
   {'x': '4/8/20', 'y': 4257},
   {'x': '4/9/20', 'y': 4667}]},
 {'name': 'Pakistan',
  'data': [{'x': '4/5/20', 'y': 3157},
   {'x': '4/6/20', 'y': 3766},
   {'x': '4/7/20', 'y': 4035},
   {'x': '4/8/20', 'y': 4263},
   {'x': '4/9/20', 'y': 4489}]},
 {'name': 'Malaysia',
  'data': [{'x': '4/5/20', 'y': 3662},
   {'x': '4/6/20', 'y': 3793},
   {'x': '4/7/20', 'y': 3963},
   {'x': '4/8/20', 'y': 4119},
   {'x': '4/9/20', 'y': 4228}]},
 {'name': 'Philippines',
  'data': [{'x': '4/5/20', 'y': 3246},
   {'x': '4/6/20', 'y': 3660},
   {'x': '4/7/20', 'y': 3764},
   {'x': '4/8/20', 'y': 3870},
   {'x': '4/9/20', 'y': 4076}]},
 {'name': 'Indonesia',
  'data': [{'x': '4/5/20', 'y': 2273},
   {'x': '4/6/20', 'y': 2491},
   {'x': '4/7/20', 'y': 2738},
   {'x': '4/8/20', 'y': 2956},
   {'x': '4/9/20', 'y': 3293}]},
 {'name': 'Saudi Arabia',
  'data': [{'x': '4/5/20', 'y': 2402},
   {'x': '4/6/20', 'y': 2605},
   {'x': '4/7/20', 'y': 2795},
   {'x': '4/8/20', 'y': 2932},
   {'x': '4/9/20', 'y': 3287}]},
 {'name': 'Mexico',
  'data': [{'x': '4/5/20', 'y': 1890},
   {'x': '4/6/20', 'y': 2143},
   {'x': '4/7/20', 'y': 2439},
   {'x': '4/8/20', 'y': 2785},
   {'x': '4/9/20', 'y': 3181}]},
 {'name': 'Luxembourg',
  'data': [{'x': '4/5/20', 'y': 2804},
   {'x': '4/6/20', 'y': 2843},
   {'x': '4/7/20', 'y': 2970},
   {'x': '4/8/20', 'y': 3034},
   {'x': '4/9/20', 'y': 3115}]},
 {'name': 'United Arab Emirates',
  'data': [{'x': '4/5/20', 'y': 1799},
   {'x': '4/6/20', 'y': 2076},
   {'x': '4/7/20', 'y': 2359},
   {'x': '4/8/20', 'y': 2659},
   {'x': '4/9/20', 'y': 2990}]},
 {'name': 'Serbia',
  'data': [{'x': '4/5/20', 'y': 1908},
   {'x': '4/6/20', 'y': 2200},
   {'x': '4/7/20', 'y': 2447},
   {'x': '4/8/20', 'y': 2666},
   {'x': '4/9/20', 'y': 2867}]},
 {'name': 'Australia',
  'data': [{'x': '4/5/20', 'y': 5687},
   {'x': '4/6/20', 'y': 5797},
   {'x': '4/7/20', 'y': 5895},
   {'x': '4/8/20', 'y': 6010},
   {'x': '4/9/20', 'y': 6108}]},
 {'name': 'Finland',
  'data': [{'x': '4/5/20', 'y': 1927},
   {'x': '4/6/20', 'y': 2176},
   {'x': '4/7/20', 'y': 2308},
   {'x': '4/8/20', 'y': 2487},
   {'x': '4/9/20', 'y': 2605}]},
 {'name': 'Panama',
  'data': [{'x': '4/5/20', 'y': 1801},
   {'x': '4/6/20', 'y': 1988},
   {'x': '4/7/20', 'y': 2100},
   {'x': '4/8/20', 'y': 2249},
   {'x': '4/9/20', 'y': 2528}]},
 {'name': 'Thailand',
  'data': [{'x': '4/5/20', 'y': 2169},
   {'x': '4/6/20', 'y': 2220},
   {'x': '4/7/20', 'y': 2258},
   {'x': '4/8/20', 'y': 2369},
   {'x': '4/9/20', 'y': 2423}]},
 {'name': 'Qatar',
  'data': [{'x': '4/5/20', 'y': 1604},
   {'x': '4/6/20', 'y': 1832},
   {'x': '4/7/20', 'y': 2057},
   {'x': '4/8/20', 'y': 2210},
   {'x': '4/9/20', 'y': 2376}]},
 {'name': 'Dominican Republic',
  'data': [{'x': '4/5/20', 'y': 1745},
   {'x': '4/6/20', 'y': 1828},
   {'x': '4/7/20', 'y': 1956},
   {'x': '4/8/20', 'y': 2111},
   {'x': '4/9/20', 'y': 2349}]},
 {'name': 'Colombia',
  'data': [{'x': '4/5/20', 'y': 1485},
   {'x': '4/6/20', 'y': 1579},
   {'x': '4/7/20', 'y': 1780},
   {'x': '4/8/20', 'y': 2054},
   {'x': '4/9/20', 'y': 2223}]},
 {'name': 'Greece',
  'data': [{'x': '4/5/20', 'y': 1735},
   {'x': '4/6/20', 'y': 1755},
   {'x': '4/7/20', 'y': 1832},
   {'x': '4/8/20', 'y': 1884},
   {'x': '4/9/20', 'y': 1955}]},
 {'name': 'South Africa',
  'data': [{'x': '4/5/20', 'y': 1655},
   {'x': '4/6/20', 'y': 1686},
   {'x': '4/7/20', 'y': 1749},
   {'x': '4/8/20', 'y': 1845},
   {'x': '4/9/20', 'y': 1934}]},
 {'name': 'Singapore',
  'data': [{'x': '4/5/20', 'y': 1309},
   {'x': '4/6/20', 'y': 1375},
   {'x': '4/7/20', 'y': 1481},
   {'x': '4/8/20', 'y': 1623},
   {'x': '4/9/20', 'y': 1910}]},
 {'name': 'Ukraine',
  'data': [{'x': '4/5/20', 'y': 1308},
   {'x': '4/6/20', 'y': 1319},
   {'x': '4/7/20', 'y': 1462},
   {'x': '4/8/20', 'y': 1668},
   {'x': '4/9/20', 'y': 1892}]},
 {'name': 'Argentina',
  'data': [{'x': '4/5/20', 'y': 1451},
   {'x': '4/6/20', 'y': 1554},
   {'x': '4/7/20', 'y': 1628},
   {'x': '4/8/20', 'y': 1715},
   {'x': '4/9/20', 'y': 1795}]},
 {'name': 'Egypt',
  'data': [{'x': '4/5/20', 'y': 1173},
   {'x': '4/6/20', 'y': 1322},
   {'x': '4/7/20', 'y': 1450},
   {'x': '4/8/20', 'y': 1560},
   {'x': '4/9/20', 'y': 1699}]},
 {'name': 'Algeria',
  'data': [{'x': '4/5/20', 'y': 1320},
   {'x': '4/6/20', 'y': 1423},
   {'x': '4/7/20', 'y': 1468},
   {'x': '4/8/20', 'y': 1572},
   {'x': '4/9/20', 'y': 1666}]},
 {'name': 'Iceland',
  'data': [{'x': '4/5/20', 'y': 1486},
   {'x': '4/6/20', 'y': 1562},
   {'x': '4/7/20', 'y': 1586},
   {'x': '4/8/20', 'y': 1616},
   {'x': '4/9/20', 'y': 1648}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Belarus',
  'data': [{'x': '4/5/20', 'y': 562},
   {'x': '4/6/20', 'y': 700},
   {'x': '4/7/20', 'y': 861},
   {'x': '4/8/20', 'y': 1066},
   {'x': '4/9/20', 'y': 1486}]},
 {'name': 'Canada',
  'data': [{'x': '4/5/20', 'y': 15756},
   {'x': '4/6/20', 'y': 16563},
   {'x': '4/7/20', 'y': 17872},
   {'x': '4/8/20', 'y': 19141},
   {'x': '4/9/20', 'y': 20654}]},
 {'name': 'Croatia',
  'data': [{'x': '4/5/20', 'y': 1182},
   {'x': '4/6/20', 'y': 1222},
   {'x': '4/7/20', 'y': 1282},
   {'x': '4/8/20', 'y': 1343},
   {'x': '4/9/20', 'y': 1407}]},
 {'name': 'Morocco',
  'data': [{'x': '4/5/20', 'y': 1021},
   {'x': '4/6/20', 'y': 1120},
   {'x': '4/7/20', 'y': 1184},
   {'x': '4/8/20', 'y': 1275},
   {'x': '4/9/20', 'y': 1374}]},
 {'name': 'Canada',
  'data': [{'x': '4/5/20', 'y': 15756},
   {'x': '4/6/20', 'y': 16563},
   {'x': '4/7/20', 'y': 17872},
   {'x': '4/8/20', 'y': 19141},
   {'x': '4/9/20', 'y': 20654}]},
 {'name': 'Moldova',
  'data': [{'x': '4/5/20', 'y': 864},
   {'x': '4/6/20', 'y': 965},
   {'x': '4/7/20', 'y': 1056},
   {'x': '4/8/20', 'y': 1174},
   {'x': '4/9/20', 'y': 1289}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'New Zealand',
  'data': [{'x': '4/5/20', 'y': 1039},
   {'x': '4/6/20', 'y': 1106},
   {'x': '4/7/20', 'y': 1160},
   {'x': '4/8/20', 'y': 1210},
   {'x': '4/9/20', 'y': 1239}]},
 {'name': 'Iraq',
  'data': [{'x': '4/5/20', 'y': 961},
   {'x': '4/6/20', 'y': 1031},
   {'x': '4/7/20', 'y': 1122},
   {'x': '4/8/20', 'y': 1202},
   {'x': '4/9/20', 'y': 1232}]},
 {'name': 'Australia',
  'data': [{'x': '4/5/20', 'y': 5687},
   {'x': '4/6/20', 'y': 5797},
   {'x': '4/7/20', 'y': 5895},
   {'x': '4/8/20', 'y': 6010},
   {'x': '4/9/20', 'y': 6108}]},
 {'name': 'Estonia',
  'data': [{'x': '4/5/20', 'y': 1097},
   {'x': '4/6/20', 'y': 1108},
   {'x': '4/7/20', 'y': 1149},
   {'x': '4/8/20', 'y': 1185},
   {'x': '4/9/20', 'y': 1207}]},
 {'name': 'Slovenia',
  'data': [{'x': '4/5/20', 'y': 997},
   {'x': '4/6/20', 'y': 1021},
   {'x': '4/7/20', 'y': 1059},
   {'x': '4/8/20', 'y': 1091},
   {'x': '4/9/20', 'y': 1124}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Hungary',
  'data': [{'x': '4/5/20', 'y': 733},
   {'x': '4/6/20', 'y': 744},
   {'x': '4/7/20', 'y': 817},
   {'x': '4/8/20', 'y': 895},
   {'x': '4/9/20', 'y': 980}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Lithuania',
  'data': [{'x': '4/5/20', 'y': 811},
   {'x': '4/6/20', 'y': 843},
   {'x': '4/7/20', 'y': 880},
   {'x': '4/8/20', 'y': 912},
   {'x': '4/9/20', 'y': 955}]},
 {'name': 'Australia',
  'data': [{'x': '4/5/20', 'y': 5687},
   {'x': '4/6/20', 'y': 5797},
   {'x': '4/7/20', 'y': 5895},
   {'x': '4/8/20', 'y': 6010},
   {'x': '4/9/20', 'y': 6108}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Azerbaijan',
  'data': [{'x': '4/5/20', 'y': 584},
   {'x': '4/6/20', 'y': 641},
   {'x': '4/7/20', 'y': 717},
   {'x': '4/8/20', 'y': 822},
   {'x': '4/9/20', 'y': 926}]},
 {'name': 'Armenia',
  'data': [{'x': '4/5/20', 'y': 822},
   {'x': '4/6/20', 'y': 833},
   {'x': '4/7/20', 'y': 853},
   {'x': '4/8/20', 'y': 881},
   {'x': '4/9/20', 'y': 921}]},
 {'name': 'Kuwait',
  'data': [{'x': '4/5/20', 'y': 556},
   {'x': '4/6/20', 'y': 665},
   {'x': '4/7/20', 'y': 743},
   {'x': '4/8/20', 'y': 855},
   {'x': '4/9/20', 'y': 910}]},
 {'name': 'Bahrain',
  'data': [{'x': '4/5/20', 'y': 700},
   {'x': '4/6/20', 'y': 756},
   {'x': '4/7/20', 'y': 811},
   {'x': '4/8/20', 'y': 823},
   {'x': '4/9/20', 'y': 887}]},
 {'name': 'Bosnia and Herzegovina',
  'data': [{'x': '4/5/20', 'y': 654},
   {'x': '4/6/20', 'y': 674},
   {'x': '4/7/20', 'y': 764},
   {'x': '4/8/20', 'y': 804},
   {'x': '4/9/20', 'y': 858}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Kazakhstan',
  'data': [{'x': '4/5/20', 'y': 584},
   {'x': '4/6/20', 'y': 662},
   {'x': '4/7/20', 'y': 697},
   {'x': '4/8/20', 'y': 727},
   {'x': '4/9/20', 'y': 781}]},
 {'name': 'Cameroon',
  'data': [{'x': '4/5/20', 'y': 650},
   {'x': '4/6/20', 'y': 658},
   {'x': '4/7/20', 'y': 658},
   {'x': '4/8/20', 'y': 730},
   {'x': '4/9/20', 'y': 730}]},
 {'name': 'Diamond Princess',
  'data': [{'x': '4/5/20', 'y': 712},
   {'x': '4/6/20', 'y': 712},
   {'x': '4/7/20', 'y': 712},
   {'x': '4/8/20', 'y': 712},
   {'x': '4/9/20', 'y': 712}]},
 {'name': 'Slovakia',
  'data': [{'x': '4/5/20', 'y': 485},
   {'x': '4/6/20', 'y': 534},
   {'x': '4/7/20', 'y': 581},
   {'x': '4/8/20', 'y': 682},
   {'x': '4/9/20', 'y': 701}]},
 {'name': 'North Macedonia',
  'data': [{'x': '4/5/20', 'y': 555},
   {'x': '4/6/20', 'y': 570},
   {'x': '4/7/20', 'y': 599},
   {'x': '4/8/20', 'y': 617},
   {'x': '4/9/20', 'y': 663}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Tunisia',
  'data': [{'x': '4/5/20', 'y': 574},
   {'x': '4/6/20', 'y': 596},
   {'x': '4/7/20', 'y': 623},
   {'x': '4/8/20', 'y': 628},
   {'x': '4/9/20', 'y': 643}]},
 {'name': 'Bulgaria',
  'data': [{'x': '4/5/20', 'y': 531},
   {'x': '4/6/20', 'y': 549},
   {'x': '4/7/20', 'y': 577},
   {'x': '4/8/20', 'y': 593},
   {'x': '4/9/20', 'y': 618}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Latvia',
  'data': [{'x': '4/5/20', 'y': 533},
   {'x': '4/6/20', 'y': 542},
   {'x': '4/7/20', 'y': 548},
   {'x': '4/8/20', 'y': 577},
   {'x': '4/9/20', 'y': 589}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Andorra',
  'data': [{'x': '4/5/20', 'y': 501},
   {'x': '4/6/20', 'y': 525},
   {'x': '4/7/20', 'y': 545},
   {'x': '4/8/20', 'y': 564},
   {'x': '4/9/20', 'y': 583}]},
 {'name': 'Lebanon',
  'data': [{'x': '4/5/20', 'y': 527},
   {'x': '4/6/20', 'y': 541},
   {'x': '4/7/20', 'y': 548},
   {'x': '4/8/20', 'y': 576},
   {'x': '4/9/20', 'y': 582}]},
 {'name': 'Uzbekistan',
  'data': [{'x': '4/5/20', 'y': 342},
   {'x': '4/6/20', 'y': 457},
   {'x': '4/7/20', 'y': 520},
   {'x': '4/8/20', 'y': 545},
   {'x': '4/9/20', 'y': 582}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Cyprus',
  'data': [{'x': '4/5/20', 'y': 446},
   {'x': '4/6/20', 'y': 465},
   {'x': '4/7/20', 'y': 494},
   {'x': '4/8/20', 'y': 526},
   {'x': '4/9/20', 'y': 564}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'China',
  'data': [{'x': '4/5/20', 'y': 82602},
   {'x': '4/6/20', 'y': 82665},
   {'x': '4/7/20', 'y': 82718},
   {'x': '4/8/20', 'y': 82809},
   {'x': '4/9/20', 'y': 82883}]},
 {'name': 'Costa Rica',
  'data': [{'x': '4/5/20', 'y': 454},
   {'x': '4/6/20', 'y': 467},
   {'x': '4/7/20', 'y': 483},
   {'x': '4/8/20', 'y': 502},
   {'x': '4/9/20', 'y': 539}]},
 {'name': 'Cuba',
  'data': [{'x': '4/5/20', 'y': 320},
   {'x': '4/6/20', 'y': 350},
   {'x': '4/7/20', 'y': 396},
   {'x': '4/8/20', 'y': 457},
   {'x': '4/9/20', 'y': 515}]},
 {'name': 'Australia',
  'data': [{'x': '4/5/20', 'y': 5687},
   {'x': '4/6/20', 'y': 5797},
   {'x': '4/7/20', 'y': 5895},
   {'x': '4/8/20', 'y': 6010},
   {'x': '4/9/20', 'y': 6108}]},
 {'name': 'Afghanistan',
  'data': [{'x': '4/5/20', 'y': 349},
   {'x': '4/6/20', 'y': 367},
   {'x': '4/7/20', 'y': 423},
   {'x': '4/8/20', 'y': 444},
   {'x': '4/9/20', 'y': 484}]},
 {'name': 'Oman',
  'data': [{'x': '4/5/20', 'y': 298},
   {'x': '4/6/20', 'y': 331},
   {'x': '4/7/20', 'y': 371},
   {'x': '4/8/20', 'y': 419},
   {'x': '4/9/20', 'y': 457}]},
 {'name': 'Uruguay',
  'data': [{'x': '4/5/20', 'y': 400},
   {'x': '4/6/20', 'y': 406},
   {'x': '4/7/20', 'y': 424},
   {'x': '4/8/20', 'y': 424},

# Single Country Analysis

In [39]:
countryDataSpe=pd.DataFrame(confirmedGlobal[confirmedGlobal['Country/Region']=='China'][confirmedGlobal.columns[4:-1]].sum()).reset_index()
countryDataSpe.columns=['country','values']
countryDataSpe['lagVal']=countryDataSpe['values'].shift(1).fillna(0)
countryDataSpe['incrementVal']=countryDataSpe['values']-countryDataSpe['lagVal']
countryDataSpe['rollingMean']=countryDataSpe['incrementVal'].rolling(window=4).mean()
countryDataSpe=countryDataSpe.fillna(0)
datasetsForLine=[{'label':'Daily Cumulated Data','data':countryDataSpe['values'].values.tolist()},
                {'label':'Rolling Mean 4 days','data':countryDataSpe['rollingMean'].values.tolist()}]

In [56]:
countryDataSpe=pd.DataFrame(confirmedGlobal[confirmedGlobal['Country/Region']=='China'][confirmedGlobal.columns[4:-1]].sum()).reset_index()
countryDataSpe.columns=['country','values']
# countryDataSpe['rollingMean']=countryDataSpe['values'].rolling(window=4).mean()